<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://code.alibabatech.com/schema/dubbo
		     http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="true">

    <!--  dubb配置注册信息分割线  -->
    <dubbo:application name="sequence"/>
    <dubbo:registry address="192.168.1.109:2181" protocol="zookeeper" group="sequence"/>
    <!--自动分配端口-->
    <dubbo:protocol port="20880" name="dubbo"/>

    <!--设置超时时间-->
    <dubbo:consumer timeout="30000"/>

    <!--单号生成-->
    <dubbo:service interface="com.shaoyuanhu.api.GenerateSequenceService" ref="generateSequenceService"/>

</beans>
